.agent-store--ui-input-media{

  &-attachment{
    display: flex;
    overflow: auto;
    width: 100%;
    padding-bottom: 3px;
    &>*:not(:last-child) {
      margin-right: 15px;
    }

    &::-webkit-scrollbar {
      height: 4px;
      display: block;
      margin-top: 5px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      background: #1e72e3;
      border-radius: 10px;
      width: 50px;
    }
  }
  &-wallpaper{

    width: 100%;
    height: 196px;
    padding: 15px 35px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px dashed #2F3CED;
    border-radius: 5px;

    & h4{
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #374957;
      width: 100%;
    }

    &  p{
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: rgba(55, 73, 87, 0.7);
      margin-bottom: 10px;
    }
  }

  &__add-block.agent-store--ui-input-media__add-block{

    border: 1px dashed #2F3CED;
    border-radius: 5px;
    min-width: 118px;
    height: 101px;
    box-sizing: border-box;
background-color: rgba(47, 60, 237, .03);
    display: flex;
    align-items: center;
    justify-content: center;
      transition: 0.4s;
    position: relative;

    &:hover{
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    }

    & > input{
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }


  }
}
.agent-store-ui-input-media-list_input-block-img-list{
  display: flex;
cursor: pointer;



  &>*:not(:last-child){
    margin-right: 15px;
  }
  &-block{
    height: 101px;
    width: 118px;
    border-radius: 5px;
    padding: 2px;
    border: 1px dashed #2F3CED;
    background-color: rgba(47, 60, 237, .3);

    &>img {
      width: 100%;
      height: 101px;
      border-radius: 5px;

      object-fit: cover;
    }
  }
}