.batman-store_product-list {
  width: 100%;
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -5px;
    width: 100%;
  }
}

.batman-store_product-list-wrapper--loading {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 300;
}

@media only screen and (max-width: 1031px) {
  .batman-store_product-list-wrapper {
    justify-content: center;
  }
}
