.batman-store__product--wallpaper {
  margin: 40px;
  width: 100%;
}
.batman-store__product {
  display: flex;
  width: 100%;
}

.batman-store__product--image {
  width: 200px;
  margin-right: 20px;
  & > img {
    width: 100%;
  }
}
.batman-store__produc--info {
  width: 60%;
  border-radius: 15px;
  background: #f3f2f2;
  padding: 20px;

  & > h1 {
    color: #030303;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  & > p {
    display: flex;
    width: 200px;
    margin-bottom: 15px;
  }
}
.batman-store__produc--info-data {
  display: flex;
  margin-bottom: 15px;

  & > p {
    color: #374957;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    margin-right: 5px;
  }
  & > h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 100% */
  }
}
