.batman-store--categories-item{
  width: 100%;
  min-width: 250px;
  max-width: 450px;
  height: 190px;
  background: #2F3CED;
  border-radius: 15px;
  padding: 45px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  transition: .3s;
&_img{
  width: 10px;
  display: flex;
  align-items: center;
  transition: .3s;
}

  &:hover{
    background: rgba(119, 153, 245, 0.85);
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.25);
    padding: 45px 35px 45px 40px;
    & .batman-store--categories-item_img{
      margin-left: 5px;
    }

  }
 & h1{
   font-weight: 700;
   font-size: 35px;
   line-height: 42px;
   margin-bottom: 15px;
 }
  & h2{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 4; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
  }
}