.batman-ui__card {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  //max-width: 317px;
  min-height: 388px;
  border-radius: 10px;
  background: var(--primary-0, #FFF);
  padding: 10px;
  transition: 0.5s;
  margin: 25px 10px;
  box-sizing: border-box;
  //border: 1px solid rgba(30, 114, 227, 0.12);
  //box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  max-width: calc(20% - 5px);
  min-width: 317px;


&-header{
  display: flex;
  justify-content: space-between;
    margin-bottom: 30px;

  &_title{
    color: var(--secondary-500, #1A202C);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 30px */
    letter-spacing: -0.6px;

    &>span{

      color: var(--secondary-300, #90A3BF);
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 21px */
      letter-spacing: -0.28px;
      margin-top: 5px;
    }
  }
}
  p {
    margin: 0;
    padding: 0;
    color: #374957;
  }
  h4 {
    margin: 0;
    padding: 0;
    color: #374957;
  }

  &_image {
    text-align: center;
    height: 178px;
overflow: hidden;
    margin: 0 auto 5px;
    border-radius: 20px;

    &-flex{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    & > img {
    object-fit: cover;
      margin: 0 auto;
      width: 100%;
      height: 100%;
      z-index: -5;
      align-items: center;
      overflow: hidden;
    }
  }
  &_info {
    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      margin-top: 10px;
    }
  }
  &_price {
    margin-top: 20px;
    display: flex;
    & > p {
      color: var(--secondary-500, #1A202C);
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      span {
        color: var(--secondary-300, #90A3BF);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    & > h4 {
      color: #e95555;
      font-style: normal;
      font-weight: 700;
      font-size: 9px;
      line-height: 10px;
      display: flex;
      align-items: flex-start;
    }
  }
  &_more-info {
    margin-top: 5px;
    height: 50px;
    overflow: hidden;
    & > p {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      color: #000000;
    }
  }
}

.batman-ui__card_more-info--button{
  display: flex;
  margin-top: 20px;
  &>*:not(:last-child){
    margin-right: 10px;
  }
}


@media only screen and (max-width: 1031px) {

  .batman-ui__card {
    cursor: pointer;
    max-width: calc(20% - 5px);
    min-width: 250px;

    & .batman-ui--button{
      font-size: 12px;
    }
  }

  }