.batman-ui__main-title {
  width: 100%;
  margin-bottom: 25px;
  h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
    color: #11142d;
  }
}
