.batman-store {
  &__container {
    margin: 0 34px;
    overflow: auto;
    width: 100%;
    height: 100vh;


    & .batman-store__faq--wallpaper{
      margin-top: 30px;
    }
    &::-webkit-scrollbar { width: 0; }

    & > p {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #11142d;
      margin-top: 47px;
    }
    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: -1px;
      color: #11142d;
      margin-top: 10px;
    }

    &_banner {
      display: flex;
      margin-top: 30px;
      //width: 978px;
      width: 100%;
      &>*:not(:last-child){
        margin-right: 20px;
      }

    }
    & > img {
      margin-left: 30px;
      border-radius: 0 0 24px 0;
    }
  }
}

.carousel-inner {
  display: flex;
}

@media only screen and (max-width: 1800px) {
  .batman-store__container_banner{
    display: block;


    &>*:not(:last-child){
    margin-bottom: 20px;
      margin-right: 0;


  }
    &.batman-store__container_banner .carousel-item{
      width: 100%;
    }
  }
  .batman-store__banner.batman-store__banner{
    width: 100%;
  }
}
